{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8"
        },
        "modules": false,
        "useBuiltIns": "usage"
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "**/*.test.js"
          ]
        }]
      ]
    }
  }
}
